{% load static %}
<!doctype html>
<head>
    <title>BETA - Battle Factory Buddy - Switchin Calculator</title>
    <link rel="stylesheet" href="{% static 'jQuery-MultiSelect-master/jquery.multiselect.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="icon" type="image/x-png" href="{% static 'NolandHeadshot.png' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'jQuery-MultiSelect-master/jquery.multiselect.js' %}"></script>
    
</head>
<html>  
    <body>
        <main>
            <div class="px-4 py-3 my-2 text-center">
                <h1 class="display-6 fw-bold text-primary">BETA - Welcome to Battle Factory Buddy - Switch Calculator</h1>            
            </div>
            <form method="post" id="postaction" action="switchincalc">
                {% csrf_token %}
                <div class ="row">
                    <!-- Left pane -->
                    <div class="col-sm-2">
                        <div class="d-grid gap-2">
                          <button type="submit" class="btn btn-primary btn-lg" style="margin-top:5px;margin:2%">Calculate</button>
                        </div>                    
                      <div class="col-sm-12" >
                        <div class="card" style="margin: 2%; margin-top:5px; background-color:#e6e6e6;">
                        <div class="card-body" style="margin: 0px; padding-bottom: 0%; padding-top: 2%">
                          <h5 class="card-title">Setup</h5>
                          <div>Your mon</div>
                          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                            <select type="text" class="form-select" id="targetmon" name="targetmon" style="max-width: 256px;" placeholder="Your Mon" value="{{targetmon}}">                                
                                {{pkmn |safe}}
                            </select>
                          </div>
                          <div>Fainted mon</div>
                          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                            <select type="text" class="form-select" id="faintedmon" name="faintedmon" style="max-width: 256px;" placeholder="Fainted Mon" value="{{faintedmon}}">
                                {{pkmn |safe}}
                            </select>
                          </div>
                          <div>Candidate mon 1</div>
                          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                            <select type="text" class="form-select" id="candidatemon1" name="candidatemon1" style="max-width: 256px;" placeholder="Candidate mon 1" value="{{candidatemon1}}">
                                {{pkmn |safe}}
                            </select>
                          </div>
                          <div>Candidate mon 2</div>
                          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                            <select type="text" class="form-select" id="candidatemon2" name="candidatemon2" style="max-width: 256px;" placeholder="cm2" value="{{candidatemon2}}">
                                <option value="cm2" selected>No Second Candidate</option>
                                {{pkmn |safe}}
                            </select>
                          </div>
                          <div>Magic Number</div>
                          <div class="form-group">                            
                            <input type="number" class="form-control" id="magicnumber" name="magicnumber">
                          </div>
                          <button type="button" class="btn btn-tertiary" data-bs-toggle="modal" data-bs-target="#HelpModal">
                            What's the Magic Number?
                          </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1"><a href="/">Back to main Buddy</a></div>                    
                </div>
                    
                <div class="col-sm-8">
                    {{output |safe}}
                </div>
                </div>
            </form>
            <footer class="bg-body-tertiary text-center text-lg-start">
              <!-- Copyright -->
              <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.00);">          
                <p style="color: lightgray;">A fan site by Dave Glorbus, v{{ version |safe}}</p>
              </div>
              
            </footer>
            <div class="modal fade" data-bs-backdrop="false" id="HelpModal" tabindex="-1" aria-labelledby="Help" aria-hidden="true">
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Magic Number</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h3>TL;DR</h3>
                    <p>This only really matters in Open Level. In L50 and most Open Level cases just set this to 40 and you're good to go. If you've just got a kill using a high BP move, and the opponent has a high Atk/SpAtk matching that move's type then you might need to do a bit more work. In some niche cases finding the value can also provide extra info because of rounding odd numbers.<br>
                      As a rule of thumb - try plugging in 1000 and 39 and see if either changes much and do a bit more digging if it'd materially change your play.</p>
                    <h3>Credit</h3>
                    <p>All the logic used here is taken from <a href="https://docs.google.com/document/d/13E61Jj4KwhIy3ZKgLjPY-_uWKWklfBR_zUlhZHUZqik/edit?usp=sharing">Xavion's fantastic doc explaining switch-in logic.</a></p>
                    <h3>What should I do to work this out properly?</h3>
                    <p>Glad you asked. Here's the rundown!<br>
                    If the last move to be used was a status move (e.g. if you protect while the opponent dies to burn) then the number is just 3 (no need for further logic). 
                    Assuming you're not so lucky then do the following.</p>
                      <ul>
                        <li>Get the relevant mons in your favourite damage calculator. Make sure IVs / EVs, stat boosts, weather, items etc. are all there.</li>
                        <li>Give the opposing KO'd mon the last move used before they were KO'd. In most cases this will be the move that knocked them out, but if they die to Double-edge recoil or kill your mon and then die to poison it could be the move they used.</li>
                        <li>Remove any relevant immunity abilities from your mon</li>
                        <li>Remove any types from the KO'd mon that would give it STAB on that move (if you kill a Whiscash with EQ then take away its Ground type)</li>
                        <li>Remove any types that are resisted / supereffective / immune from your mon (e.g. if your Charizard killed a Whiscash with EQ, take away Zard's Flying and Fire types)</li>
                        <li>Find the max roll that the move would have done on the mon that killed it. (e.g. this Whiscash's EQ on flightless, fireless Zard)</li>
                        <li>That max roll is your magic number.</li>                      
                      </ul>
                    <p>So for a 31IV Charizard-2 killing a 3IV Whiscash-3 with Earthquake - the magic number would be 73.</p>
                    <h3>Should I bother?</h3>
                    <p>Not for Level 50. In practice in Open Level this is unlikely to be particularly relevant a lot of the time. The two things that matter are whether the number is even or odd and how close it is to 256 when considering multiplying by 1.5 (for STAB) and 2.0 (for SE status moves). To break this down a bit more:</p>                        
                    <ul>
                      <li>If the number is odd then various "type ordering" nonsense can break ties on phase 2 scores in a small number of cases. </li>
                      <li>If the number is even then some of these will turn into "draws" to turn order on the Section 2 scores.</li>                    
                    </ul>
                    <p>And for the numbers, a higher number basically means more draws on section 2 scoring, with the following breakpoints and examples in those ranges:</p>
                    <ul>
                      <li><b>512</b> - most draws.<br>
                      <i>e.g. Snorlax-7 kill Marowak-2 with Hyper Beam</i></li>
                      <li><b>256</b>
                      <br><i>e.g. Manectric-1 kills Alakazam-1 with Thunderbolt </i></li>
                      <li><b>170</b>
                      <br><i>e.g. Tauros-2 kills Heracross-1 with Double-edge </i></li>
                      <li><b>128</b> - Around (and after) this point it starts to make very little difference in practice
                      <br><i>e.g. Salamence-1 kills Machamp-1 with Aerial Ace </i></li>
                      <li><b>85</b>
                      <br><i>e.g. Salamence-1 kills Machamp-1 with Aerial Ace </i></li>
                      <li><b>64</b>
                      <br><i>e.g. Venusaur-1 kills Whiscash-4 with Giga Drain </i></li>
                      <li><b>50</b> - fewest draws
                      <br><i>e.g. Swampert-1 killing Rhydon-1 with Surf</i>
                    </ul>
                    <h3>Why is it like this?</h3>
                    <p>No idea.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>              
                  </div>
                </div>
              </div>
            </div>
        
       </main>  
        <script>
            document.body.style.zoom="70%"    
            if ('{{targetmon}}' != "")
            {
                document.getElementById('targetmon').value = '{{targetmon}}';
                document.getElementById('faintedmon').value = '{{faintedmon}}';
                document.getElementById('candidatemon1').value = '{{candidatemon1}}';
                document.getElementById('candidatemon2').value = '{{candidatemon2}}';
                document.getElementById('magicnumber').value = '{{magicnumber}}';
                
            }
        </script>
    </body>
 </html>